///
/// Settings
/// Global variable files.
///
@import "settings/defaults";
@import "settings/palette";
@import "settings/responsive";

///
/// Generic
/// Basic reset and low specificty global styles.
///
@import "generic/clearfix";
@import "generic/foundation";

///
/// Utilities
///
@import "utilities/colours";
@import "utilities/grid";
@import "utilities/spacing";
@import "utilities/visibility";

///
/// Create namespaceless spacing classes.
///
@include grid;
@include spacing;

///
/// Our responsive spacing classes.
///
@each $key, $value in $breakpoints {
    @include media-query($key) {
       @include grid('#{$key}-');
       @include spacing('#{$key}-');
    }
}
