///
/// Settings
/// Global variable files.
///
@import "settings/defaults";
@import "settings/responsive";

///
/// Tools
/// Globally available tools and mixins.
///
@import "tools/get-colour";
@import "tools/grid";
@import "tools/gutter";
@import "tools/map-deep-get";
@import "tools/responsive";
@import "tools/spacing";

///
/// Palette
///
@import "settings/palette";

///
/// Generic
/// Basic reset and low specificty global styles.
///
@import "generic/clearfix";
@import "generic/foundation";

///
/// Utilities
///
@import "utilities/colours";
@import "utilities/grid";
@import "utilities/visibility";

///
/// Create namespaceless spacing classes.
///
@include grid;
@include spacing;

///
/// Our responsive spacing classes.
///
@each $key, $value in $breakpoints {
    @include media-query($key) {
       @include grid('#{$key}-');
       @include spacing('#{$key}-');
    }
}
