///
/// Fluid and nestable grid system. It is necessary to comment out, or otherwise
/// remove, the whitespace from between grid items.
/// Modifiers are:
///     grid--full   - removes gutters from grid
///     grid--narrow - uses $half-spacing-unit for gutter width
///     grid--wide   - uses 2 * $base-spacing-unit for gutter width
///     grid--rev    - reverse layout of grid items
///     grid--right  - aligns grid items to the right
///     grid--center - center grid items
///     grid--middle - vertically align columns to the middle
///     grid--bottom - vertically align columns to the bottom
///
/// @name grid
/// @group components
///
/// @example
///     <div class="grid">
///         <div class="grid__item one-third">
///             <p>One third grid</p>
///         </div><!--
///
///      --><div class="grid__item two-thirds">
///             <p>Two thirds grid</p>
///         </div><!--
///
///      --><div class="grid__item one-half">
///             <p>One half grid</p>
///         </div><!--
///
///      --><div class="grid__item one-quarter">
///             <p>One quarter grid</p>
///         </div><!--
///
///      --><div class="grid__item one-quarter">
///             <p>One quarter grid</p>
///         </div>
///     </div>
///

.grid {
    @include gutter($base-spacing-unit);
}

    .grid__item {
        display: inline-block;
        width: 100%;
        text-align: left;
        vertical-align: top;
    }
