////
/// @name defaults
/// @group settings
///
/// Default type, colour and spacing measurement that is
/// used for the grid gutters and components padding/margins.
////

///
/// Default typography font size/styles
///
$base-font-size: 16px !default;
$base-font-family: Helvetica, sans-serif !default;
$base-line-height: 1.5 !default;

///
/// Default colors
///
$base-font-color: #999999 !default;

///
/// Default spacing units
///
$base-spacing-unit: $base-line-height * 1rem !default;
