///
/// The default type and border properties (colours, sizing, font) and
/// well as the default spacing measurement that is used for the grid
/// gutters and components default padding/margins.
///
/// @name Defaults
/// @group settings
///

///
/// Default typography font size/styles
///
$base-font-size: 16px !default;
$base-font-family: Helvetica, sans-serif !default;
$base-line-height: 1.5 !default;

///
/// Default font colors
///
$base-font-color: #999999 !default;
$action-color: #477DCA !default;

///
/// Default background colours
///
$base-background-color: #fff !default;

///
/// Default spacing units
///
$base-spacing-unit: $base-line-height * 1rem !default;
