////
/// settings/_responsive.scss
/// @group settings
////

///
/// Define your breakpoints. The first value is the prefix that shall be used for
/// your classes (e.g. `.palm--one-half`), the second value is the media query
/// that the breakpoint fires at. If one of these values is required to be overritten,
/// the entire data map must be redeclared in the application. Any issue regarding media queries
/// in your application maybe due to an incorrect declaration within your custom $breakpoints data map.
///
/// @name breakpoints
/// @type Map
/// @prop {String} breakpoint [Media Query] - A key-value pair to give a reference
/// to a media query, and the media query itself.
///

$breakpoints: (
    palm: '(max-width: 47.938em)',
    lap: '(min-width: 48em) and (max-width: 63.938em)',
    portable: '(max-width: 63.938em)',
    lap-and-up: '(min-width: 48em)',
    desk: '(min-width: 64em)',
    desk-wide: '(min-width: 90em)'
) !default;
